*{
    margin: 0;
    padding: 0;
    font-family:"Gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
#top{
    width:100%;
    min-height:60vh;
    background-image: url(images/img-1.jpg);
    background-size: cover;
    background-position: center;
}
#overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.266)
}
#text{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 30%;
    width: 100%;
    color: #fff;
    padding: 0 10vw;
}
#textright{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#textright p{
    font-size: 17px;
    width: 40%;
}
#textright #icon i{
    font-size: 160%;
    cursor: pointer;
}
#text h1{
    font-weight: 400;
    font-size: 4vw;
}
button{
    position: absolute;
    background-color:yellow;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    color: black;
    padding: 15px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#button{
    position: absolute;
    bottom: 30%;
    padding: 0 13vw;
}
#bottom{
    display: flex;
    width:100%;
    min-height:40vh;
}
#bone{
    width: 25%;
    min-height: inherit;
    padding: 30px;
}
#bone p{
    font-size: 17px;
    margin-top: 20px;
}
#btwo{
    width: 25%;
    min-height: inherit;
    background-image: url(images/img-2.jpg);
    background-size: cover;
    background-position: center;
}
#bthree{
    width: 20%;
    min-height: inherit;
}
#bthreetop{
    width: 100%;
    min-height: 20vh;
    padding: 20px;
    color: white;
    background-color: palevioletred;
}
#bthreetop p{
    margin-top: 10px;
    font-size: 14px;
}
#bthreebottom{
    width: 100%;
    min-height: 30vh;
    background-image: url(images/img--3.jpg);
    background-size: cover;
    background-position: center;
}

#bfour{
    width: 30%;
    min-height: inherit;
    background-color: #444;
    color: white;
    padding: 30px;
}
.notf{
    display: flex;
    justify-content:left;
    margin-top: 20px;
}
.notf i{
    width: 40px;
    height: 40px;
    font-size: 150%;
    
}

.notf p{
    width: 80%;
    font-size: 12px;
}

@media(max-width: 500px) {
    #top{
        min-height: 100vh;
    }
    #overlay #text{
        flex-direction: column;
        align-items: flex-start;
    }
    #text h1{
        font-size: 10vw;
    }
    #overlay #text #textright{
        flex-direction: column;
        align-items: flex-start;
    }
    #overlay #text #textright p{
        width: initial;
        margin-top: 20px;
    }
    #overlay #text #textright #icon{
        margin-top: 30px;
    }
    #overlay #button{
        bottom: 15%;
        left: 5%;
        
    } 
    #bottom{
        flex-direction: column;
    }
    #bone{
        width: 100%;
    }
    #btwo{
        width: 100%;
    }
    #bthree{
        width: 100%;
    }
    #bthree #bthreebottom{
        min-height: 40vh;
    }
    #bfour{
        width: 100%;
    }
}